
@font-face {
    font-family: 'Alibaba PuHuiTi';
    src: url('./Alibaba-PuHuiTi-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./poppins-medium.ttf');
    font-weight: normal;
    font-style: normal;
}

