$--color-primary: #ff6600;
$--color-success: #13ce66;
$--color-warning: #FFBA00;
$--color-danger: #ff4949;



$--bg-primary:#F08342;
$--bg-dark:#3d4144;
$--bg-light:#F0F0F0;



$--button-font-weight: 400;

$--border-color-light: #ddd;
$--border-color-lighter: #e6ebf5;


$--border-light:1px solid $--border-color-light;
$--border-primary:1px solid $--color-primary;
$--border-success:1px solid $--color-success;
$--border-warning:1px solid $--color-warning;
$--border-danger:1px solid $--color-danger;
$--table-border: $--border-light;

$--box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

$--font-color-white:#FEFEFE;
$--color-text-primary:#333;
$--color-text-regular:#666;
$--color-text-secondary:#999;

$--font-family:"Microsoft YaHei","Avenir",Helvetica,Arial,sans-serif;